[submodule "externals/emdlib"]
	path = externals/emdlib
	url = git@github.com:filipecosta90/emdlib.git
[submodule "externals/sanitizers-cmake"]
	path = externals/sanitizers-cmake
	url = git://github.com/arsenm/sanitizers-cmake.git
[submodule "externals/chemfiles"]
	path = externals/chemfiles
	url = https://github.com/filipecosta90/chemfiles.git
